.player-main-layout {
    display: grid;
    position: relative;
    flex: 1 1 auto;

    grid-template-rows: auto 3% 1fr;

    background-color: aquamarine;
}

.player-main-info-layout {
    display: grid; 

    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    grid-template-rows: repeat(2, auto);

    column-gap: 2%;
}

.player-details-column-layout {
    display: grid; 

    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    grid-template-rows: 1fr;

    column-gap: 5%;
}

.player-ability-scores-layout {
    display: grid; 
    
    grid-template-columns: repeat(6, minmax(0, 1fr)); 
    grid-template-rows: repeat(3, 20px);
}

#player-combat-details-layout {
    display: grid; 
    
    grid-template-areas: 
        'ac init speed'
        'hp hp hp'
        'thp thp thp'
        'hit-dice death-saves death-saves';
    
    row-gap: 2%;

    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    grid-template-rows: repeat(4, auto);
}

