
#right-section{
    position: relative; /* in order for position relative in children to work */
    display: flex;
    flex-direction: column;
    float: none;

    width: 50%;
    height: 100%;

    background-color: coral;
}

#right-tab-group {
    display: inline-block;
    position: relative;

    width: 100%;

    background-color: darkgrey;
}

#about-tab {
    display: flex;
}

#spells-tab {
    display: none;
}

#console {
    height: 30%;

    overflow-y:scroll;

    background-color:darkgrey;
}

#console-text {
    white-space: pre-wrap;
}

.tab-button {
    float: left;
}

.tab {
    flex: 1 1 auto;

    /* float:none; */
    padding: 6px 12px;
}